* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

body {
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/eltonc88/breakout.js/master/img/background.jpg);
  background-size: cover;
}

body:before {
  z-index: -1;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 980px;
  height: 100%;
  min-height: 1100px;
}

canvas {
  cursor: ew-resize;
  background: #000;
  display: block;
  margin: auto auto;
}

.title {
  position: relative;
  width: 100%;
  max-height: 100px;
  font-size: 3.5em;
}

.title:after {
  position: absolute;
  content: " ";
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-image: url(https://raw.githubusercontent.com/eltonc88/breakout.js/master/img/header.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: rgba(128, 0, 0, 0.9);
  border-top: 0.2em solid;
  border-bottom: 0.2em solid;
  border-color: rgba(128, 128, 128, 0.3);
  transition:
  height 2s ease-in-out,
  background-color 2s,
  background-position 2s ease-in-out;
}

.title.initialize:after {
  height: 100vh;
  background-color: rgba(128, 0, 0, 1);
  background-position: center;
}

.content {
  margin-top: 60px;
  padding-top: 40px;
  min-width: 600px;
  max-width: 1800px;
  display: inline-block;
  margin: auto;
}

.container {
  float: left;
  display: inline-block;
}

/*tabs CSS*/

.tabs input[type=radio] {
  display: none;
}

[id^=tab]:checked ~ div[id^=tab-content] {
  opacity: 1;
  z-index: 1;
}

.tabs {
  margin: 10px;
  margin-top: 15px;
  float: left;
  width: 280px;
}

.tabs > div {
  display: block;
  width: 280px;
}

.labels:after {
  content: "";
  display: table;
  clear: both;
}

.tabs label {
  display: inline-block;
  border-radius: 2vh 2vh 0 0;
  float: left;
  padding: 10px;
  width: 70px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.tab-contents {
  position: relative;
  width: 240px;
  height: 300px;
}

.tab-content {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  width: 240px;
  overflow-y: scroll;
  border-radius: 0 0 2vh 2vh;
  transition: opacity 1s ease-out;
  box-shadow: 0 4px 0 #000;
}

.about {
  background-color: #C83828;
  text-align: left;
}

.about img {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.control {
  background-color: #389848;
}

.control img.launch {
  display: block;
  margin: 5px;
  width: auto;
  height: 60px;
}

.control img.arrow {
  display: inline-block;
  margin: 5px;
  width: auto;
  height: 10px;
}

.details {
  background-color: #989848;
}

/* buttons CSS */

.buttons {
  cursor: pointer;
  display: block;
  float: right;
  width: 280px;
  margin: 10px;
  align-content: center;
}

.buttons > * {
  width: 270px;
  margin: 5px 0;
  display: inline-block;
  border: 0;
  float: right;
}

.buttons .btn {
  cursor: pointer;
  position:relative;
  padding: 3% 0;
  border-radius: 2vh;
  font-size: 1rem;
  font-weight: bold;
  color: #FFF;
  box-shadow: 0 4px 0 #000;
}

.buttons .btn:hover {
  position:relative;
  top: 2px;
  box-shadow: 0 2px 0 #000,
}

.buttons .btn:active {
  position:relative;
  top: 4px;
  box-shadow: 0 0px 0 #000,
}

.new-game {
  background: #CC0;
}

.pause-toggle {
  background: #BBB;
}

.power-up-toggle {
  background: #AAF;
}

.half {
  left: 0;
  right: 0;
}

.buttons .half .btn {
  width: 50%;
  margin: 0;
  float: left;
}

.buttons .half .btn:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  z-index: 1;
}

.buttons .btn.slow-down {
  background: #E00;
  padding-right: 0;
  border-top-right-radius:    0;
  border-bottom-right-radius: 0;
}

.buttons .btn.speed-up {
  background: #395;
  padding-left: 0;
  border-top-left-radius:    0;
  border-bottom-left-radius: 0;
}

.buttons .btn.slow-down:after {
  box-shadow: inset -20px 0 20px -10px rgba(255, 255, 0, 1);
}

.buttons .btn.speed-up:after {
  box-shadow: inset 20px 0 20px -10px rgba(255, 255, 0, 1);
}
