* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

body {
  text-align: center;
  background-image: url(http://res.cloudinary.com/dwlxp9sf7/image/upload/c_scale,w_1500/v1440714233/brick_texture3355_uqdgn2.jpg);
  background-size: cover;
}

body:before {
  z-index: -1;
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 980px;
  height: 100%;
  min-height: 1100px;
}

canvas {
  background: #000;
  display: block;
  margin: auto auto;
}

.title {
  position: relative;
  width: 100%;
  max-height: 100px;
  font-size: 3.5em;
}

 .title:after {
  position: absolute;
  content: " ";
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-image: url(http://res.cloudinary.com/dwlxp9sf7/image/upload/c_crop,g_north,h_260,w_1053/v1440828472/2601660-11002901_lfptyh.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: rgba(128, 0, 0, 0.7);
  border-top: 0.2em solid;
  border-bottom: 0.2em solid;
  border-color: rgba(128, 128, 128, 0.2);
  transition:
    height 2s ease-in-out,
    background-color 2s,
    background-position 2s ease-in-out;
}

.title.initialize:after {
  height: 100vh;
  background-color: rgba(128, 0, 0, 1);
  background-position: center;
}

.content {
  margin-top: 60px;
  padding: 40px;
  min-width: 600px;
  max-width: 1800px;
  display: inline-block;
  margin: auto;
}

.container {
  float: left;
  display: inline-block;
}

.buttons {
  cursor: pointer;
  display: block;
  float: right;
  margin: 1em;
}

.buttons {
  width: 280px;
  margin: 10px;
  align-content: center;
}

.buttons > * {
  width: 96%;
  margin: 2% 0;
  display: inline-block;
  border: 0;
  float: left;
}

.buttons .btn {
  position:relative;
  padding: 3% 0;
  border-radius: 2vh;
  font-size: 1rem;
  font-weight: bold;
  color: #FFF;
  box-shadow: 0 4px 0 #000;
}

.buttons .btn:hover {
  position:relative;
  top: 2px;
  box-shadow: 0 2px 0 #000,
}

.buttons .btn:active {
  position:relative;
  top: 4px;
  box-shadow: 0 0px 0 #000,
}

.new-game {
  background: #CC0;
}

.pause-toggle {
  background: #BBB;
}

.power-up-toggle {
  background: #AAF;
}

.half {
  left: 0;
  right: 0;
}

.buttons .half .btn {
  width: 50%;
  margin: 0;
  float: left;
}

.buttons .half .btn:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  z-index: 1;
}

.buttons .btn.slow-down {
  background: #E00;
  padding-right: 0;
  border-top-right-radius:    0;
  border-bottom-right-radius: 0;
}

.buttons .btn.speed-up {
  background: #395;
  padding-left: 0;
  border-top-left-radius:    0;
  border-bottom-left-radius: 0;
}

.buttons .btn.slow-down:after {
  box-shadow: inset -20px 0 20px -10px rgba(255, 255, 0, 1);
}

.buttons .btn.speed-up:after {
  box-shadow: inset 20px 0 20px -10px rgba(255, 255, 0, 1);
}
